* {
  margin: 0;
  padding: 0;
  width: 100%; }

@keyframes animacionLogoHeaderDesktop {
  0% {
    transform: translateX(50em); } }

@keyframes animacionLogoHeaderMobile {
  0% {
    transform: translateX(15em); } }

@keyframes animacionFaq {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

header {
  position: sticky;
  z-index: 10;
  top: 0;
  font-family: 'Permanent Marker', cursive; }
  header .navbar {
    background-color: black !important; }
    header .navbar .logoMenuContainer {
      display: flex;
      flex-direction: row-reverse; }
      header .navbar .logoMenuContainer .morenopk {
        display: flex;
        padding-right: 1em;
        flex-direction: column;
        justify-content: end; }
        header .navbar .logoMenuContainer .morenopk img {
          width: 10em;
          animation-name: animacionLogoHeaderMobile;
          animation-duration: 1.5s; }
      header .navbar .logoMenuContainer a {
        margin: 0; }
        header .navbar .logoMenuContainer a img {
          animation-name: animacionLogoHeaderMobile;
          animation-duration: 1.5s; }
    header .navbar .collapse .navbar-nav .nav-item .nav-link {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px;
      border-style: solid;
      font-size: 16px;
      color: white !important; }
    header .navbar .collapse .navbar-nav .nav-item .nav-link:active {
      color: green !important;
      border-color: white; }
    header .navbar .navbar-toggler {
      display: flex;
      padding-right: 0.2em;
      flex-direction: column;
      justify-content: end;
      border: none; }
    header .navbar .navbar-toggler[type=button] {
      outline: none;
      width: 15em; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif; }

footer {
  margin-top: 10em;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: black;
  display: flex;
  flex-direction: column;
  background-color: black; }
  footer .seguinosContainer p {
    font-size: 28px;
    font-family: "Permanent Marker", cursive;
    color: white;
    font-weight: 100;
    text-align: center; }
  footer .seguinosContainer .footerLogoContainer {
    padding-top: 3em;
    display: flex;
    justify-content: space-around; }
    footer .seguinosContainer .footerLogoContainer a {
      display: flex;
      justify-content: center; }
    footer .seguinosContainer .footerLogoContainer img {
      width: 2.5em;
      height: 2.5em; }
  footer .listaContainer {
    padding-top: 5em; }
    footer .listaContainer ul {
      line-height: 5em;
      text-align: center; }
      footer .listaContainer ul li a {
        text-decoration: none;
        font-size: 20px;
        font-family: "Permanent Marker", cursive;
        color: white;
        font-weight: 100;
        text-align: center; }
  footer .renunciaContainer .logoFooterContainer {
    display: flex;
    justify-content: space-between; }
    footer .renunciaContainer .logoFooterContainer :first-child {
      display: flex;
      flex-direction: column-reverse; }
      footer .renunciaContainer .logoFooterContainer :first-child img {
        width: 10em;
        height: 2.6em; }
    footer .renunciaContainer .logoFooterContainer :last-child {
      width: 10em; }
  footer .renunciaContainer p {
    font-size: 20px;
    font-family: default;
    color: #a2a2a2;
    font-weight: 0;
    text-align: center; }

.banner {
  display: flex;
  flex-direction: column; }
  .banner :first-child {
    display: flex; }
    .banner :first-child .siluetaEncabezado {
      width: 5em; }
      .banner :first-child .siluetaEncabezado img {
        width: 4em; }
    .banner :first-child :first-child {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .banner :first-child :first-child img {
        width: 4.5em; }
    .banner :first-child :nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .banner :first-child :nth-child(2) h1 {
        font-size: 30px;
        font-family: "Permanent Marker";
        color: black;
        font-weight: 500;
        text-align: center; }
  .banner :nth-child(2) {
    padding-top: 1em;
    display: flex;
    justify-content: center; }
    .banner :nth-child(2) img {
      width: 22em;
      border: 10px solid #000000;
      border-radius: 35px 35px 35px 35px; }

.pieDePagina {
  overflow-x: hidden;
  margin-top: 2.5em;
  font-size: 35px;
  text-align: center;
  font-family: "Permanent Marker", cursive; }
  .pieDePagina .pieDePaginaSilueta {
    display: flex;
    justify-content: center; }
    .pieDePagina .pieDePaginaSilueta img {
      width: 5em; }

.parrafo, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body p, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body form {
  font-family: 'Alegreya', serif;
  text-align: center;
  font-size: 20px;
  padding-right: 1em;
  padding-left: 1em; }

.bodyInicio main .inicioContenido {
  overflow: hidden; }
  .bodyInicio main .inicioContenido #carouselInicio {
    position: absolute;
    z-index: -1; }
    .bodyInicio main .inicioContenido #carouselInicio .carousel-inner .carousel-item img {
      width: 100vh !important;
      padding-right: 20em !important; }
  .bodyInicio main .inicioContenido .parrafoInicio {
    padding-top: 18em;
    background: white;
    background: linear-gradient(0deg, white 0%, white 34%, rgba(255, 255, 255, 0) 59%);
    font-size: 28px;
    font-family: "Permanent Marker";
    color: black;
    font-weight: 0;
    text-align: center;
    letter-spacing: 1px; }
  .bodyInicio main .inicioContenido .botones .siluetasInicio img {
    width: 10em; }
  .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(4) {
    display: flex;
    justify-content: flex-end; }
    .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(4) img {
      width: 10em; }
  .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(8) {
    display: flex;
    justify-content: flex-end; }
    .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(8) img {
      width: 7em; }
  .bodyInicio main .inicioContenido .botones .botonContainer .botonImgContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1; }
    .bodyInicio main .inicioContenido .botones .botonContainer .botonImgContainer .btnImg {
      width: 20em;
      border-style: solid;
      border-radius: 6em;
      border-width: 10px;
      box-shadow: inset 0px 1px 0px #000000, 0px 10px 0px #000000;
      background-color: rgba(255, 255, 255, 0.303); }
  .bodyInicio main .inicioContenido .botones .botonContainer .btnText a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    padding-top: 3em;
    padding-bottom: 4em;
    font-size: 28px;
    font-family: "Permanent Marker";
    color: black;
    font-weight: 0;
    text-align: center; }
  .bodyInicio main .inicioContenido .botones .botonContainer .btnText a:active {
    color: green; }
  .bodyInicio main .inicioContenido .botones .botonContainer:active .botonImgContainer {
    z-index: 1; }
    .bodyInicio main .inicioContenido .botones .botonContainer:active .botonImgContainer .btnImg {
      border-color: green;
      box-shadow: inset 0px 1px 0px #000000, inset 0px 6px 0px #000000; }
  .bodyInicio main .inicioContenido .botones .botonContainer:active .btnText a {
    position: relative;
    z-index: 2; }

main .lartContenido img {
  border: 10px solid #000000;
  border-radius: 35px 35px 35px 35px; }

main .lartContenido h2 {
  margin-top: 2em; }

main .lartContenido .subTitulo {
  font-size: 28px;
  font-family: "Permanent Marker";
  color: black;
  font-weight: 100;
  text-align: center; }

main .lartContenido .videoLart {
  display: flex;
  justify-content: center; }
  main .lartContenido .videoLart iframe {
    height: 20em;
    width: 23em;
    border: 10px solid #000000;
    border-radius: 35px 35px 35px 35px; }

main .lartContenido :nth-child(12) {
  display: block;
  text-align: center; }

main .faqContenido {
  overflow: hidden; }
  main .faqContenido h2 {
    margin-top: 2em; }
  main .faqContenido .subTitulo {
    font-size: 28px;
    font-family: "Permanent Marker";
    color: black;
    font-weight: 100;
    text-align: center; }
  main .faqContenido .siluetaFaq {
    display: flex;
    justify-content: center; }
    main .faqContenido .siluetaFaq img {
      width: 5em; }
  main .faqContenido .siluetaFaq:nth-of-type(3) {
    display: flex;
    justify-content: center; }
    main .faqContenido .siluetaFaq:nth-of-type(3) img {
      width: 4em; }
  main .faqContenido .siluetaFaq:nth-of-type(4) {
    display: flex;
    justify-content: center; }
    main .faqContenido .siluetaFaq:nth-of-type(4) img {
      width: 3em; }
  main .faqContenido .siluetaFaq:nth-of-type(5) {
    display: flex;
    justify-content: center; }
    main .faqContenido .siluetaFaq:nth-of-type(5) img {
      width: 6em; }
  main .faqContenido .siluetaFaq:nth-of-type(6) img {
    width: 7em; }
  main .faqContenido .siluetaFaq:nth-of-type(7) img {
    width: 10em; }
  main .faqContenido .animacionContainer {
    display: flex; }
    main .faqContenido .animacionContainer .secuenciaContainer {
      display: flex;
      flex-direction: column; }
    main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(2) img {
      opacity: 0;
      animation-name: animacionFaq;
      animation-delay: 1s;
      animation-duration: 1.5s;
      animation-fill-mode: forwards; }
    main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(3) {
      padding-top: 2em; }
      main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(3) img {
        opacity: 0;
        animation-name: animacionFaq;
        animation-delay: 2s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards; }
    main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(4) {
      padding-top: 4em; }
      main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(4) img {
        opacity: 0;
        animation-name: animacionFaq;
        animation-delay: 3s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards; }
    main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(5) {
      justify-content: flex-end; }
  main .faqContenido .parrafo a, main .faqContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body p a, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body main .faqContenido p a, main .faqContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body form a, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body main .faqContenido form a {
    font-family: "Permanent Marker";
    color: black;
    text-decoration: none; }
  main .faqContenido .parrafo a:active, main .faqContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body p a:active, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body main .faqContenido p a:active, main .faqContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body form a:active, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body main .faqContenido form a:active {
    text-decoration: none;
    color: green; }

.nosotrosContenido {
  overflow: hidden;
  height: 130em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .nosotrosContenido .silueta1Parrafo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 3em; }
    .nosotrosContenido .silueta1Parrafo .siluetaNosotros {
      display: flex;
      justify-content: center; }
      .nosotrosContenido .silueta1Parrafo .siluetaNosotros img {
        width: 7em; }
  .nosotrosContenido .carousel {
    padding-bottom: 3em;
    display: flex;
    justify-content: center; }
    .nosotrosContenido .carousel .carousel-inner {
      width: 22em;
      border: 10px solid #000000;
      border-radius: 35px 35px 35px 35px; }
  .nosotrosContenido .nosotrosImagenContainer {
    display: flex;
    justify-content: center; }
    .nosotrosContenido .nosotrosImagenContainer img {
      width: 22em;
      border: 10px solid #000000;
      border-radius: 35px 35px 35px 35px; }

.inscribirse {
  height: 190em; }
  .inscribirse .inscribirseContenido {
    height: 190em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-content: center; }
    .inscribirse .inscribirseContenido div p {
      padding-top: 2em;
      font-size: 24px; }
      .inscribirse .inscribirseContenido div p a {
        font-size: 28px;
        font-family: "Permanent Marker";
        color: black;
        font-weight: 100;
        text-align: center; }
      .inscribirse .inscribirseContenido div p a:active {
        color: green;
        text-decoration: none; }
    .inscribirse .inscribirseContenido div .inscribirseSilueta {
      display: flex;
      justify-content: center; }
      .inscribirse .inscribirseContenido div .inscribirseSilueta img {
        width: 7em; }
    .inscribirse .inscribirseContenido .botonesySiluetasContainer {
      height: 100em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .inscribirse .inscribirseContenido .botonesySiluetasContainer .siluetaInscribirse {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .inscribirse .inscribirseContenido .botonesySiluetasContainer .siluetaInscribirse img {
          width: 15em; }
      .inscribirse .inscribirseContenido .botonesySiluetasContainer :nth-child(4) img {
        width: 10em; }
      .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer {
        display: flex;
        justify-content: center;
        align-content: center; }
        .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer p {
          padding-top: 0;
          text-align: center; }
        .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .boton {
          padding-top: 3em;
          padding-bottom: 3em;
          width: 12em;
          background-size: cover;
          border: solid #000000;
          border-radius: 6em;
          border-width: 10px;
          box-shadow: inset 0px 1px 0px #000000, 0px 10px 0px #000000;
          font-size: 28px;
          font-family: "Permanent Marker";
          color: white;
          font-weight: 100;
          text-align: center; }
        .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .boton:active {
          border-color: green; }
          .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .boton:active .ubicacionNombre {
            color: green; }
        .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer #botonHospital {
          background-image: url("../assets/images/inscribirse/botones/hospital.jpeg"); }
        .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer #botonSanMartin {
          background-image: url("../assets/images/inscribirse/botones/sanMartinDark.jpg"); }
        .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer #botonBujan {
          background-image: url("../assets/images/inscribirse/botones/bujandark.jpg"); }
        .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content {
          width: 20em;
          height: 48em;
          margin-left: 0.4em;
          border: 5px solid #000000;
          border-radius: 31px 31px 31px 31px; }
          .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content button {
            border: none; }
          .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body {
            padding-top: 0; }
            .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body p {
              padding-top: 0;
              font-size: 25px; }
            .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .ubicacionGoogleMapa {
              border: 5px solid #6e6e6e; }
            .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body form {
              text-align: left; }
            .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body select {
              margin-top: 1em;
              margin-bottom: 1em; }
            .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body button {
              margin-top: 1em; }
  .inscribirse [data-aos] {
    pointer-events: none; }
  .inscribirse .aos-animate {
    pointer-events: auto; }
  .inscribirse .aos-init[data-aos][data-aos].aos-animate {
    transform: unset; }
  .inscribirse .pieDePagina {
    margin-top: 0em; }

.contactoContenido {
  height: 120em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .contactoContenido .parrafo, .contactoContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body p, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .contactoContenido p, .contactoContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body form, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .contactoContenido form {
    margin-top: 0em; }
  .contactoContenido .logoFlexContainer {
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .contactoContenido .logoFlexContainer p {
      display: flex;
      justify-content: center;
      font-size: 28px;
      font-family: "Permanent Marker";
      color: black;
      font-weight: 100;
      text-align: center; }
    .contactoContenido .logoFlexContainer a {
      display: flex;
      justify-content: center; }
      .contactoContenido .logoFlexContainer a .redSocialLogo {
        width: 10em; }

.bodyGaleria {
  overflow-x: hidden; }
  .bodyGaleria main {
    height: 150em; }
    .bodyGaleria main .galeriaContenido {
      height: 150em; }
      .bodyGaleria main .galeriaContenido .galeriaContainer {
        height: 130em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .bodyGaleria main .galeriaContenido .galeriaContainer div {
          display: flex;
          justify-content: center; }
          .bodyGaleria main .galeriaContenido .galeriaContainer div img {
            width: 20em;
            border: 5px solid #000000; }
  .bodyGaleria #exampleModal .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto; }

@media (min-width: 992px) {
  header .navbar {
    display: flex;
    flex-direction: column;
    height: 8em; }
    header .navbar .logoMenuContainer a img {
      width: 5em;
      animation-name: animacionLogoHeaderDesktop;
      animation-duration: 2s; }
    header .navbar .logoMenuContainer .morenopk {
      display: flex;
      align-items: end; }
      header .navbar .logoMenuContainer .morenopk img {
        width: 10em !important;
        animation-name: animacionLogoHeaderDesktop;
        animation-duration: 2s; }
    header .navbar .collapse .navbar-nav .nav-item .nav-link {
      display: flex;
      justify-content: center;
      font-weight: 700 !important;
      letter-spacing: 1px;
      font-size: 15px !important;
      transform: scale(1);
      transition-duration: 0.5s; }
    header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
      transform: scale(1.1);
      transition-duration: 0.3s;
      color: green !important; }
    header .navbar .collapse .navbar-nav :nth-child(3) .nav-link {
      padding-top: 9px;
      font-size: 14px !important; } }

@media (min-width: 992px) {
  footer .decoradoFooter {
    height: 17em;
    background-color: white;
    background-image: url("../assets/images/decoracionFooter.jpg");
    background-size: cover;
    background-size: 40em 20em; }
    footer .decoradoFooter img {
      display: none; }
  footer .footerContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    footer .footerContainer .seguinosContainer {
      height: 10em;
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .footerContainer .seguinosContainer p {
        font-size: 20px; }
      footer .footerContainer .seguinosContainer .footerLogoContainer {
        padding-top: 2em;
        width: 20em;
        display: flex; }
        footer .footerContainer .seguinosContainer .footerLogoContainer a {
          width: 4em; }
          footer .footerContainer .seguinosContainer .footerLogoContainer a img {
            width: 2em !important;
            height: 2em; }
    footer .footerContainer .listaContainer {
      padding-top: 0; }
      footer .footerContainer .listaContainer ul {
        height: 10em;
        margin-bottom: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        footer .footerContainer .listaContainer ul li {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 10em; }
          footer .footerContainer .listaContainer ul li a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            height: 15px;
            width: 10em;
            font-size: 15px !important; }
          footer .footerContainer .listaContainer ul li a:hover {
            text-decoration: underline; }
        footer .footerContainer .listaContainer ul li:nth-child(3) a {
          width: 15em; }
    footer .footerContainer .renunciaContainer {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .footerContainer .renunciaContainer p {
        width: 70em;
        font-size: 15px; }
      footer .footerContainer .renunciaContainer .logoFooterContainer {
        display: flex;
        justify-content: center; }
        footer .footerContainer .renunciaContainer .logoFooterContainer div {
          width: 10em; }
        footer .footerContainer .renunciaContainer .logoFooterContainer img {
          width: 8em !important; } }

@media (min-width: 992px) {
  .banner {
    background-color: white;
    width: 60em;
    display: flex;
    flex-direction: column; }
    .banner :first-child {
      display: flex;
      justify-content: center; }
      .banner :first-child .siluetaEncabezado {
        width: 5em; }
        .banner :first-child .siluetaEncabezado img {
          width: 4em; }
      .banner :first-child :first-child {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .banner :first-child :first-child img {
          width: 4.5em; }
      .banner :first-child :nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30em !important; }
        .banner :first-child :nth-child(2) h1 {
          font-size: 30px;
          font-family: "Permanent Marker";
          color: black;
          font-weight: 500;
          text-align: center; }
    .banner :nth-child(2) {
      padding-top: 1em;
      display: flex;
      justify-content: center; }
      .banner :nth-child(2) img {
        width: 40em;
        border: 10px solid #000000;
        border-radius: 35px 35px 35px 35px; } }

@media (min-width: 992px) {
  .bodyInicio main .inicioContenido {
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: hidden;
    background-image: url("../assets/images/inicioDesktop/inscribirse.jpeg");
    background-repeat: no-repeat;
    background-size: 85em;
    background-position-y: -16em;
    background-image: url("../assets/images/inicioDesktop/inicioDesktopBG.jpg"); }
    .bodyInicio main .inicioContenido #carouselInicio {
      display: none; }
    .bodyInicio main .inicioContenido .parrafoInicio {
      padding-top: 18em;
      padding-left: 5em;
      padding-right: 5em;
      justify-self: center;
      background: white;
      background: linear-gradient(0deg, white 0%, white 34%, rgba(255, 255, 255, 0) 59%);
      font-size: 28px;
      font-family: "Permanent Marker";
      color: black;
      font-weight: 0;
      text-align: center;
      letter-spacing: 1px; }
    .bodyInicio main .inicioContenido .botones {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "speeed faq ins art tic_tac" "cat_oneHand nos con gal cat"; }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(1) {
        grid-area: faq; }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(1):hover {
        z-index: 2;
        transform: scale(1.1); }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(3) {
        grid-area: ins; }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(3):hover {
        z-index: 2;
        transform: scale(1.1); }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(5) {
        grid-area: art; }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(5):hover {
        z-index: 2;
        transform: scale(1.1); }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(7) {
        grid-area: con; }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(7):hover {
        z-index: 2;
        transform: scale(1.1); }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(9) {
        grid-area: nos; }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(9):hover {
        z-index: 2;
        transform: scale(1.1); }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(11) {
        grid-area: gal; }
      .bodyInicio main .inicioContenido .botones .botonContainer:nth-of-type(11):hover {
        z-index: 2;
        transform: scale(1.1); }
      .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(2) {
        display: none; }
      .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(4) {
        grid-area: tic_tac; }
      .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(6) {
        grid-area: speeed; }
      .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(8) {
        grid-area: cat; }
      .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(10) {
        grid-area: cat_oneHand; }
      .bodyInicio main .inicioContenido .botones .siluetasInicio {
        width: 11em; }
        .bodyInicio main .inicioContenido .botones .siluetasInicio img {
          width: 10em; }
      .bodyInicio main .inicioContenido .botones #boton_faq {
        grid-area: boton_faq; }
      .bodyInicio main .inicioContenido .botones #silueta_uno {
        grid-area: silueta_uno; }
      .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(4) {
        display: flex;
        justify-content: flex-end; }
        .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(4) img {
          width: 10em; }
      .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(8) {
        display: flex;
        justify-content: flex-end; }
        .bodyInicio main .inicioContenido .botones .siluetasInicio:nth-of-type(8) img {
          width: 7em; }
      .bodyInicio main .inicioContenido .botones .botonContainer {
        width: 20.5em; }
        .bodyInicio main .inicioContenido .botones .botonContainer .botonImgContainer {
          display: flex;
          justify-content: center;
          position: absolute;
          z-index: -1; }
          .bodyInicio main .inicioContenido .botones .botonContainer .botonImgContainer .btnImg {
            width: 20em;
            border-style: solid;
            border-radius: 6em;
            border-width: 10px;
            box-shadow: inset 0px 1px 0px #000000, 0px 10px 0px #000000;
            background-color: rgba(255, 255, 255, 0.303); }
        .bodyInicio main .inicioContenido .botones .botonContainer .btnText a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-decoration: none;
          padding-top: 3em;
          padding-bottom: 4em;
          font-size: 28px;
          font-family: "Permanent Marker";
          color: black;
          font-weight: 0;
          text-align: center; }
        .bodyInicio main .inicioContenido .botones .botonContainer .btnText a:active {
          color: green; }
      .bodyInicio main .inicioContenido .botones .botonContainer:active .botonImgContainer {
        z-index: 1; }
        .bodyInicio main .inicioContenido .botones .botonContainer:active .botonImgContainer .btnImg {
          border-color: green;
          box-shadow: inset 0px 1px 0px #000000, inset 0px 6px 0px #000000; }
      .bodyInicio main .inicioContenido .botones .botonContainer:active .btnText a {
        position: relative;
        z-index: 2; } }

@media (min-width: 992px) {
  .bodyGaleria {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bodyGaleria main {
      height: 90em; }
      .bodyGaleria main .galeriaContenido {
        height: 90em;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .bodyGaleria main .galeriaContenido .galeriaContainer {
          height: 60em;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          row-gap: 1em; }
          .bodyGaleria main .galeriaContenido .galeriaContainer div img {
            height: 13em; } }

@media (min-width: 992px) {
  .bodyInscribirse {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150em; }
    .bodyInscribirse main {
      background-color: #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 190em; }
      .bodyInscribirse main .inscribirseContenido {
        width: 60em;
        height: 180em;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .bodyInscribirse main .inscribirseContenido div {
          margin-bottom: 0; }
        .bodyInscribirse main .inscribirseContenido .botonesySiluetasContainer {
          height: 120em;
          /*                     .botonAformularioContainer:nth-child(1){
                        grid-area: hospital;
                        
                    }
                    .siluetaInscribirse:nth-child(2){
                        grid-area: vault;
                       
                        
                    }
                    .botonAformularioContainer:nth-child(3){
                        grid-area: martin;
                        
                    }
                    .siluetaInscribirse:nth-child(4){
                        grid-area: cat;
                        
                    }
                    .botonAformularioContainer:nth-child(5){
                        grid-area: bujan;
                       
                    } */ }
          .bodyInscribirse main .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .btn:hover {
            transform: scale(1.1); }
          .bodyInscribirse main .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal {
            margin-left: 18em; }
            .bodyInscribirse main .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal .modal-dialog {
              margin: 0;
              width: 70em;
              height: 30em; }
              .bodyInscribirse main .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal .modal-dialog .modal-content {
                width: 50em;
                height: 50em; }
                .bodyInscribirse main .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal .modal-dialog .modal-content .modal-body {
                  width: 50em;
                  height: 40em;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-evenly; }
                  .bodyInscribirse main .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal .modal-dialog .modal-content .modal-body iframe {
                    width: 20em;
                    height: 10em; }
                  .bodyInscribirse main .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal .modal-dialog .modal-content .modal-body form {
                    width: 30em;
                    height: 30em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly; }
                  .bodyInscribirse main .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal .modal-dialog .modal-content .modal-body .form-check #1012 {
                    width: 30em; }
      .bodyInscribirse main .pieDePagina {
        background-color: white; }
    .bodyInscribirse footer {
      margin-top: 0; } }

@media (min-width: 992px) {
  .bodyNosotros {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bodyNosotros main {
      background-color: #000000;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .bodyNosotros main .nosotrosContenido {
        width: 60em;
        height: 140em;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .bodyNosotros main .nosotrosContenido p {
          font-size: 22px; }
        .bodyNosotros main .nosotrosContenido .carousel .carousel-inner {
          width: 40em; }
        .bodyNosotros main .nosotrosContenido .nosotrosImagenContainer img {
          width: 40em; }
    .bodyNosotros footer {
      margin-top: 0; } }

@media (min-width: 992px) {
  .bodyLart {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bodyLart .banner {
      background-color: white;
      width: 60em; }
    .bodyLart main {
      background-color: #000000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .bodyLart main .lartContenido {
        background-color: white;
        width: 60em !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .bodyLart main .lartContenido img {
          width: 15em;
          border: 10px solid #000000;
          border-radius: 35px 35px 35px 35px; }
        .bodyLart main .lartContenido img:nth-of-type(4) {
          width: 25em; }
        .bodyLart main .lartContenido img:nth-of-type(5) {
          width: 25em; }
        .bodyLart main .lartContenido img:nth-of-type(6) {
          width: 20em; }
        .bodyLart main .lartContenido .parrafo:nth-of-type(6) img, .bodyLart main .lartContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body p:nth-of-type(6) img, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .bodyLart main .lartContenido p:nth-of-type(6) img, .bodyLart main .lartContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body form:nth-of-type(6) img, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .bodyLart main .lartContenido form:nth-of-type(6) img {
          width: 25em; }
        .bodyLart main .lartContenido h2 {
          margin-top: 2em; }
        .bodyLart main .lartContenido .subTitulo {
          font-size: 28px;
          font-family: "Permanent Marker";
          color: black;
          font-weight: 100;
          text-align: center; }
        .bodyLart main .lartContenido .videoLart {
          display: flex;
          justify-content: center; }
          .bodyLart main .lartContenido .videoLart iframe {
            height: 28em;
            width: 45em;
            border: 10px solid #000000;
            border-radius: 35px 35px 35px 35px; }
        .bodyLart main .lartContenido :nth-child(12) {
          display: block;
          text-align: center; }
      .bodyLart main .pieDePagina {
        margin-top: 0;
        background-color: white; }
    .bodyLart footer {
      margin-top: 0; } }

@media (min-width: 992px) {
  .bodyFaq {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bodyFaq main {
      background-color: #000000;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .bodyFaq main .faqContenido {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60em; }
        .bodyFaq main .faqContenido h2 {
          margin-top: 2em; }
        .bodyFaq main .faqContenido .subTitulo {
          font-size: 28px;
          font-family: "Permanent Marker";
          color: black;
          font-weight: 100;
          text-align: center; }
        .bodyFaq main .faqContenido .siluetaFaq {
          display: flex;
          justify-content: center; }
          .bodyFaq main .faqContenido .siluetaFaq img {
            width: 5em; }
        .bodyFaq main .faqContenido .siluetaFaq:nth-of-type(3) {
          display: flex;
          justify-content: center; }
          .bodyFaq main .faqContenido .siluetaFaq:nth-of-type(3) img {
            width: 4em; }
        .bodyFaq main .faqContenido .siluetaFaq:nth-of-type(4) {
          display: flex;
          justify-content: center; }
          .bodyFaq main .faqContenido .siluetaFaq:nth-of-type(4) img {
            width: 3em; }
        .bodyFaq main .faqContenido .siluetaFaq:nth-of-type(5) {
          display: flex;
          justify-content: center; }
          .bodyFaq main .faqContenido .siluetaFaq:nth-of-type(5) img {
            width: 6em; }
        .bodyFaq main .faqContenido .siluetaFaq:nth-of-type(6) img {
          width: 7em; }
        .bodyFaq main .faqContenido .siluetaFaq:nth-of-type(7) img {
          width: 10em; }
        .bodyFaq main .faqContenido .animacionContainer {
          display: flex; }
          .bodyFaq main .faqContenido .animacionContainer .secuenciaContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-end; }
            .bodyFaq main .faqContenido .animacionContainer .secuenciaContainer img {
              width: 5em; }
          .bodyFaq main .faqContenido .animacionContainer .secuenciaContainer:first-of-type {
            height: 20em; }
          .bodyFaq main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(2) img {
            opacity: 0;
            animation-name: animacionFaq;
            animation-delay: 1s;
            animation-duration: 1.5s;
            animation-fill-mode: forwards; }
          .bodyFaq main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(3) {
            padding-top: 2em; }
            .bodyFaq main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(3) img {
              opacity: 0;
              animation-name: animacionFaq;
              animation-delay: 2s;
              animation-duration: 1.5s;
              animation-fill-mode: forwards; }
          .bodyFaq main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(4) {
            padding-top: 8em; }
            .bodyFaq main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(4) img {
              opacity: 0;
              animation-name: animacionFaq;
              animation-delay: 3s;
              animation-duration: 1.5s;
              animation-fill-mode: forwards; }
          .bodyFaq main .faqContenido .animacionContainer .secuenciaContainer:nth-of-type(5) {
            display: flex;
            align-items: flex-start; }
        .bodyFaq main .faqContenido .parrafo a, .bodyFaq main .faqContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body p a, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .bodyFaq main .faqContenido p a, .bodyFaq main .faqContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body form a, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .bodyFaq main .faqContenido form a {
          font-family: "Permanent Marker";
          color: black;
          text-decoration: none; }
        .bodyFaq main .faqContenido .parrafo a:active, .bodyFaq main .faqContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body p a:active, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .bodyFaq main .faqContenido p a:active, .bodyFaq main .faqContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body form a:active, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .bodyFaq main .faqContenido form a:active {
          text-decoration: none;
          color: green; }
        .bodyFaq main .faqContenido .parrafo a:hover, .bodyFaq main .faqContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body p a:hover, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .bodyFaq main .faqContenido p a:hover, .bodyFaq main .faqContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body form a:hover, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .bodyFaq main .faqContenido form a:hover {
          text-decoration: underline; }
    .bodyFaq footer {
      margin-top: 0; } }

@media (min-width: 992px) {
  .bodyContacto {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bodyContacto .contactoContenido {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60em;
      height: 130em; }
      .bodyContacto .contactoContenido .parrafo, .bodyContacto .contactoContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body p, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .bodyContacto .contactoContenido p, .bodyContacto .contactoContenido .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body form, .inscribirse .inscribirseContenido .botonesySiluetasContainer .botonAformularioContainer .modal-content .modal-body .bodyContacto .contactoContenido form {
        margin-top: 0em;
        font-size: 30px; }
      .bodyContacto .contactoContenido :nth-child(2) {
        display: flex;
        justify-content: flex-end; }
        .bodyContacto .contactoContenido :nth-child(2) img {
          width: 30em; }
      .bodyContacto .contactoContenido .logoFlexContainer {
        height: 50em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .bodyContacto .contactoContenido .logoFlexContainer p {
          display: flex;
          justify-content: center;
          font-size: 28px;
          font-family: "Permanent Marker";
          color: black;
          font-weight: 100;
          text-align: center; }
        .bodyContacto .contactoContenido .logoFlexContainer a {
          display: flex;
          justify-content: center; }
          .bodyContacto .contactoContenido .logoFlexContainer a .redSocialLogo {
            width: 10em; }
      .bodyContacto .contactoContenido :nth-child(4) img {
        width: 30em; }
      .bodyContacto .contactoContenido .pieDePagina .pieDePaginaSilueta {
        display: flex;
        justify-content: center; }
        .bodyContacto .contactoContenido .pieDePagina .pieDePaginaSilueta img {
          width: 5em; }
    .bodyContacto footer {
      margin-top: 0; } }

@media (min-width: 768px) {
  footer .footerLogoContainer img {
    width: 4em;
    height: 4em; }
  footer .listaContainer ul li a {
    font-size: 22px; }
  footer .renunciaContainer .logoFooterContainer img {
    width: 45em; } }

@media (min-width: 768px) {
  header .navbar .logoMenuContainer .morenopk img {
    width: 20em; }
  header .navbar .navbar-toggler .navbar-toggler-icon {
    padding: 1.5em; }
  header .navbar .collapse .navbar-nav .nav-item .nav-link {
    font-size: 30px; } }
