@media  (min-width: 768px){ 
    header{
        .navbar{
                .logoMenuContainer{
                    .morenopk{
                        img{
                            width: 20em;
                        }
                    }
                }
                .navbar-toggler{
                    .navbar-toggler-icon{
                        padding: 1.5em;
                    }
                }
                .collapse{
                    .navbar-nav{
                        .nav-item{
                            .nav-link{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
    }
}