.contactoContenido{
    height: 80em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .parrafo{
        margin-top: 0em;
    }
    .logoFlexContainer{
        height: 50em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        p{
            display: flex;
            justify-content: center;
            @include textoEstilo(28px,$markerTypo,black,100,center);
        }
        a{
            display: flex;
            justify-content: center;
            .redSocialLogo{
                width: 10em;
            }
        }
    }
}