@import "../utilities/_variables.scss";
@import "../utilities/mixins";
main{
    .faqContenido{
        overflow: hidden;
        .subTitulo{
            @include textoEstilo(28px,$markerTypo,black,100,center);
        }
        .parrafo{
            a{
                font-family: $markerTypo;
                color: black;
                text-decoration: none;
            }
            a:active{
                text-decoration: none;
                color: green;
            }
        }
        :nth-child(11){
            display: block;
            text-align: center;
        }
        :nth-child(13){
            display: block;
            text-align: center;
        }
        :last-child{
            text-align: center;
        }
    }


}