.bodyGaleria{
    overflow-x: hidden;
    main{
       height: 150em;
        .galeriaContenido{
            height: 150em;
            .galeriaContainer{
                height: 130em;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                div{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 20em;
                        border: 5px solid #000000;
                        
                    }
                }

        }
    }
  }
  #exampleModal{
    .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 50%;
        margin: 0 auto;
        }
    }
}