.bodyInicio{
    background-image: url("./../../assets/images/fondoinicio.jpeg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-x: -9em;
    main{
        background-color: rgba(255, 255, 255, 0.166);
        .inicioContenido{
            .parrafo{
            @include textoEstilo(28px,$markerTypo,black,0,center);
            letter-spacing: 1px;
            }
        }
    }
}