.bodyInicio{
    main{
        .inicioContenido{
            overflow: hidden;
            #carouselInicio{
                position: absolute;
                z-index: -1;
                .carousel-inner{
                    .carousel-item{
                        img{
                            width: 100vh !important;
                            padding-right: 20em !important;
                        }
                    }
                }
            }
            .parrafoInicio{
                padding-top: 18em; 
                background: rgb(255,255,255);
                background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,0) 59%);
                @include textoEstilo(28px,$markerTypo,black,0,center);
                letter-spacing: 1px;
            }
            .botones{
                .botonContainer{
                    .botonImgContainer{
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        z-index: -1;
                            .btnImg{
                                width: 20em;
                                border-style: solid;
                                border-radius: 6em;
                                border-width: 10px;
                                box-shadow: inset 0px 1px 0px #000000, 0px 10px 0px #000000;
                                background-color: rgba(255, 255, 255, 0.303);
                                }
                    }
                    .btnText{
                        a{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-decoration: none;
                            padding-top: 3em;
                            padding-bottom: 4em;
                            @include textoEstilo(28px,$markerTypo,black,0,center);
                        }
                        a:active{
                            color: green;
                        }
                    }

                }
                .botonContainer:active{
                    
                    .botonImgContainer{
                        z-index: 1;
                        .btnImg{
                            border-color: green;
                            box-shadow: inset 0px 1px 0px #000000, inset 0px 6px 0px #000000;
                        }
                    }
                    .btnText{
                        a{
                            position: relative;
                            z-index: 2;
                        }
                    }
                }
            }
        }
    }
    
}