@import "../utilities/_variables.scss";
@import "../utilities/mixins";
main{
    
    .lartContenido{
        .subTitulo{
            @include textoEstilo(28px,$markerTypo,black,100,center);
        }
        iframe{
            height: 30em;
        }
        :nth-child(12){
            display: block;
            text-align: center;
        }
    }
}