@import "../utilities/_variables.scss";
@import "../utilities/mixins";
main{
    
    .lartContenido{
        img{
            border: 10px solid #000000;
            border-radius: 35px 35px 35px 35px;
        }
        h2{
            margin-top: 2em;
        }
        .subTitulo{
            @include textoEstilo(28px,$markerTypo,black,100,center);
        }
        .videoLart{
            display: flex;
            justify-content: center;
            iframe{
                height: 20em;
                width: 23em;
                border: 10px solid #000000;
                border-radius: 35px 35px 35px 35px;
            }
        }

        :nth-child(12){
            display: block;
            text-align: center;
        }
    }
}