@media  (min-width: 992px){
    footer{
        .decoradoFooter{
            height: 17em;
            background-color: white;
            background-image: url("../../../../assets/images/decoracionFooter.jpg");
            background-size: cover;
            background-size: 40em 20em;
            img{
                display: none;
            }
        }
        .footerContainer{
            padding-top: 10em;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr;
            .seguinosContainer{
                p{
                    font-size: 20px;
                }
                .footerLogoContainer{
                    a{  
                        width: 4em;
                        img{
                            width: 2em !important;
                            height: 2em;
                        }
                    }
                }
            }
            .listaContainer{
                padding-top: 0;
                ul{
                    height: 25em;
                    padding-bottom: 10em;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                        li{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 30em;
                            a{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                overflow: hidden;
                                height: 15px;
                                width: 10em;
                                font-size: 15px !important;
                            }
                            a:hover{
                                text-decoration: underline;
                            }

                        }
                        li:nth-child(3){
                            a{
                                width: 15em;
                            }
                        }
                }
            }
            .renunciaContainer{
                display: flex;
                flex-direction: column;
                p{
                    font-size: 15px;
                }
                .logoFooterContainer{
                    display: flex;
                    justify-content: space-evenly;
                    div{
                    padding-right: 3em;
                    display: flex;
                    align-items: flex-end;
                    }
                    img{
                        width: 8em !important;
                    }
                }
            }
      }
    }
}