@media  (min-width: 992px){
    header{
        .navbar {
            display: flex;
            flex-direction: column;
            height: 8em;
            .logoMenuContainer{
                a{
                    img{
                        width: 5em;
                        animation-name: animacionLogoHeaderDesktop;
                        animation-duration: 2s;
                    }
                }
                .morenopk{
                    display: flex;
                    align-items: end;
                    img{
                        width: 10em !important;
                        animation-name: animacionLogoHeaderDesktop;
                        animation-duration: 2s;
                    }
                }
            }
            .collapse{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            display: flex;
                            justify-content: center;
                            font-weight: 700 !important;
                            letter-spacing: 1px;
                            font-size: 15px !important;
                        }
                        .nav-link:hover{
                            transform: scale(1.1);
                            color: green !important;
                        }

                    }
                    :nth-child(3){
                        .nav-link{
                            padding-top: 9px;
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }
}