@import "../utilities/mixins";
@import "../utilities/variables";
footer{
    margin-top: 10em;
    border-style: solid;
    border-top: 3;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: black;
    display: flex;
    flex-direction: column;
    background-color: black;
    .seguinosContainer{
        p{
            @include textoEstilo(28px,$markerTypoCursive,white,100,center);
        }
        .footerLogoContainer{
            padding-top: 3em;
            display: flex;
            justify-content: space-around;
            a{
                display: flex;
                justify-content: center;
            }
            img{
                width: 2.5em;
                height: 2.5em;
            }
        }
    }
    .listaContainer{
        ul{
            line-height: 5em;
            text-align: center;
            li{
                a{
                    text-decoration: none;
                    @include textoEstilo(20px,$markerTypoCursive,white,100,center);
                }
            }
        }
    }
    .renunciaContainer{
        .logoFooterContainer{
            display: flex;
            justify-content: space-between;
            :first-child{
                display: flex;
                flex-direction: column-reverse;
                img{
                    width: 10em;
                    height: 2.6em;
                }

            }
            :last-child{
                width: 10em;
            }
        }
        p{
            @include textoEstilo(20px,default,rgb(162, 162, 162),0,center);
        }
    }
}