@media  (min-width: 768px) {
    header{
            .navbar{
                    .logoMenuContainer{
                        .morenopk{
                            img{
                                width: 20em;
                            }
                        }
                    }
                    .navbar-toggler{
                        .navbar-toggler-icon{
                            padding: 1.5em;
                        }
                    }
                    .collapse{
                        .navbar-nav{
                            .nav-item{
                                .nav-link{
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
        }

        /* inicio */
    #parrafoInicio{
        font-size: 30px;
    }
    /* inicio */


    /* la art du */
    .subTitulo{
        font-size: 35px;
    }

    .parrafo{
        font-size: 25px;
    }
    /* la art du */

    /* inscribirse */
    .talleresNombres{
        font-size: 30px;
    }
    /* inscribirse */

    footer{
        .footerLogoContainer{
            img{
                width: 4em;
                height: 4em;
            }
        }
        .listaContainer{
            ul{
                li{
                    a{
                        font-size: 22px;
                    }
                }
            }
        }
        .renunciaContainer{
            .logoFooterContainer{
                img{
                    width: 45em;
                }
            }
        }
    }

    /* contacto */
    .logoFlexContainer{
        display: flex;
        flex-direction: row;
        img{
            width: 10em;
        }
    }
    /* contacto */
}