@media  (min-width: 992px){
    .bodyFaq{
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
    main{
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        .faqContenido{
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60em;
            h2{
                margin-top: 2em;
            }
            .subTitulo{
                @include textoEstilo(28px,$markerTypo,black,100,center);
            }
            .siluetaFaq{
                display: flex;
                justify-content: center;
                img{
                    width: 5em;
                }
            }
            .siluetaFaq:nth-of-type(3){
                display: flex;
                justify-content: center;
                img{
                    width: 4em;
                }
            }
            .siluetaFaq:nth-of-type(4){
                display: flex;
                justify-content: center;
                img{
                    width: 3em;
                }
            }
            .siluetaFaq:nth-of-type(5){
                display: flex;
                justify-content: center;
                img{
                    width: 6em;
                }
            }
            .siluetaFaq:nth-of-type(6){
                img{
                    width: 7em;
                }
            }
            .siluetaFaq:nth-of-type(7){
                img{
                    width: 10em;
                }
            }
    
            .animacionContainer{
                display: flex;
                .secuenciaContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    img{
                        width: 5em;
                    }
                }
                .secuenciaContainer:first-of-type{
                    height: 20em;
                }
               .secuenciaContainer:nth-of-type(2){
                    img{
                        opacity: 0;
                        animation-name: animacionFaq;
                        animation-delay: 1s;
                        animation-duration: 1.5s;
                        animation-fill-mode: forwards;
                    }
                    
                }
                .secuenciaContainer:nth-of-type(3){
                    padding-top: 2em;
                    img{
                        opacity: 0;
                        animation-name: animacionFaq;
                        animation-delay: 2s;
                        animation-duration: 1.5s;
                        animation-fill-mode: forwards; 
                    }
                    
                }
                .secuenciaContainer:nth-of-type(4){
                    padding-top: 8em;
                    img{
                        opacity: 0;
                        animation-name: animacionFaq;
                        animation-delay: 3s;
                        animation-duration: 1.5s;
                        animation-fill-mode: forwards;
                            
                    }
                    
                } 
                .secuenciaContainer:nth-of-type(5){
                    display: flex;
                    align-items: flex-start;
                }
            }
            .parrafo{
                    a{
                        font-family: $markerTypo;
                        color: black;
                        text-decoration: none;
        
                    }
                    a:active{
                        text-decoration: none;
                        color: green;
                    }
                }
    
        }
    
    
    }
    footer{
        margin-top: 0;
    }
}
}