@keyframes animacionLogoHeaderDesktop{
    0%{
        transform: translateX(50em);
    }
   
}

@keyframes animacionLogoHeaderMobile{
    0%{
        transform: translateX(15em);
    }
   
}

@keyframes animacionFaq{
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}


